/* Colori principali */
$black : #000;
$white : #fff;
$col : #D5C9BC;

/* Colori Background */
$logo-background : #D0C5B6;
$blog-background : #F9F9F9;
$footer-background : #333333;
$copy-background : #303031;

/* Colori Testi */
$black-light-text : #808080;
$black-hard-text : #808081;

/* Colori Maschere */
$dark-mask : rgba(0,0,0,0.6);
$col-light-mask : rgba(208,197,182,0.1);
$col-hard-mask : rgba(208,197,182,0.8);
